<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        var delay = ( function() {
            var timer = 0;
            return function(callback, ms) {
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
                };
            })();
        delay(function(){
            location.reload();
        }, 5000 ); // end delay

    </script>
    <style>
    </style>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        new Chart(ctx, {
            "type":"line",
            "data":{
                // "labels":["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                "labels": [<%= chartdata.xid %>],
                "datasets":[
                {
                    "label": "Temperature",
                    "data": [<%= chartdata.temp %>],
                    "fill": false,
                    "borderColor": "rgb(255, 0, 0)",
                    "lineTension": 0.1
                },
                {
                    "label": "Humidity",
                    "data": [<%= chartdata.hum %>],
                    "fill": false,
                    "borderColor": "rgb(0, 255, 0)",
                    "lineTension": 0.1
                }
                ]
            },
            "options":{
                "animation":{
                    "duration": 0
                }
            }
        });

    </script>
</body>
</html>
